<div class="event-node"
cdkDrag
 [class.colliding]="item.colliding">
  <div class="event-header">
    <h4>{{ item.title }}</h4>
    <span class="key-badge" *ngIf="item.key_event">⭐ Key Event</span>
  </div>
  
  <p *ngIf="item.description" class="event-description">
    {{ item.description }}
  </p>
  
  <div class="event-actions">
    <!-- <button (click)="onEdit()" title="Edit">✏️</button> lo haremos desde la columna derecha -->
    <button (click)="onDelete()" class="btn-danger" title="Delete">🗑️</button>
  </div>
</div>