<!-- <div *ngIf="loading">Loading Characters...</div>
<div *ngIf="error">{{error}}</div> -->

<div *ngIf="characters.length === 0"> No characters created yet</div>

<div class="characters-grid">

    <div *ngFor="let character of characters">
        <app-character-card
            [name]="character.name"
            [alias]="character.alias"
            [avatarUrl]="character.avatar_url"
            [role]="character.role"
            [birthdate]="character.birthdate"
            [personalityMotivation]="character.personality_motivation"
            [biographyDevelopment]="character.biography_development"
            [appearance]="character.appearance"
        ></app-character-card>

        <button (click)="onDelete(character)">Eliminar</button>

    </div>
</div>