.time-thread{
    display: flex;
    align-items:center;
    justify-content:center;
    height:80px;
    background-color:blanchedalmond;

}

.timeline{
    display:flex;
    gap:20px;

}

.timeknot{
    font-size:20px;
    cursor: pointer;
}