<div class="faction-card"
 cdkDrag
 [style.left.px]="item.position?.x"
 [style.top.px]="item.position?.y"
 (cdkDragEnded)="onDragEnd($event)"
>
  
  <img *ngIf="item.symbol_url"/>

  <h3>{{ item.name }}</h3>

  <p *ngIf="item.alt_names?.length">Alt Names: {{ item.alt_names?.join(', ') }}</p>

  <p *ngIf="item.description_culture">Culture: {{ item.description_culture }}</p>
  <p *ngIf="item.description_territory">Territory: {{ item.description_territory }}</p>
  <p *ngIf="item.description_technology">Technology: {{ item.description_technology }}</p>

  <p *ngIf="item.motivation">Motivation: {{ item.motivation }}</p>

  <p *ngIf="item.leaders?.length">Leaders: {{ item.leaders?.join(', ') }}</p>
  <p *ngIf="item.characters_associated?.length">Characters Associated: {{ item.characters_associated?.join(', ') }}</p>


</div>