<div class="main-board" #board>
    <h2>zona de interacción</h2>
    <!-- <p>Aquí apareceran las tarjetas de personajes mundos y eventos.</p> -->


<app-character-list></app-character-list>
<app-faction-list></app-faction-list>
<app-event-list></app-event-list> 




    <!-- <div class="characters">
        <div *ngFor="let char of characters" cdkDrag [cdkDragBoundary]="board">
            <app-character-card 
                [name]="char.name"
                [alias]="char.alias"
                [avatarUrl]="char.avatarUrl"
                [role]="char.role">
            </app-character-card>
        </div>
    </div>

    <div class="worlds">
        <div *ngFor="let world of worlds" cdkDrag [cdkDragBoundary]="board">
            <app-world-card 
                [name]="world.name"
                [description]="world.description">
            </app-world-card>
        </div>
    </div>

    <div class="events">
        <div *ngFor="let event of events" cdkDrag [cdkDragBoundary]="board">
            <app-event-node 
                [title]="event.title"
                [description]="event.description">
            </app-event-node>
        </div>
    </div> -->
</div>