<div 
 class="character-card"
 cdkDrag
 [style.left.px]="item.position?.x"
 [style.top.px]="item.position?.y"
 [class.colliding]="item.colliding"
 (cdkDragEnded)="onDragEnd($event)">

    <img *ngIf="item.avatar_url" [src]=" item.avatar_url" alt="{{item.name}}" class="avatar"/>
    <h3>{{item.name}}</h3>
    <p *ngIf="item.alias">Alias:{{item.alias}} </p>
    <p *ngIf="item.role">Role:{{item.role}} </p>
    <p *ngIf="item.avatar_url">avatar:{{item.avatar_url}} </p>
    <p *ngIf="item.birthdate">birthdate:{{item.birthdate}} </p>
    <p *ngIf="item.personality_motivation">Personality and motivation:{{item.personality_motivation}} </p>
    <p *ngIf="item.biography_development">Bio:{{item.biography_development}} </p>
    <p *ngIf="item.appearance">Appearance:{{item.appearance}} </p>
    
</div>


