<div class="character-card">
    <img *ngIf="avatarUrl" [src]=" avatarUrl" alt="{{name}}" class="avatar"/>
    <h3>{{name}}</h3>
    <p *ngIf="alias">Alias:{{alias}} </p>
    <p *ngIf="role">Role:{{role}} </p>
    <p *ngIf="avatarUrl">avatar:{{avatarUrl}} </p>
    <p *ngIf="birthdate">birthdate:{{birthdate}} </p>
    <p *ngIf="personalityMotivation">Personality and motivation:{{personalityMotivation}} </p>
    <p *ngIf="biographyDevelopment">Bio:{{biographyDevelopment}} </p>
    <p *ngIf="appearance">Appearance:{{appearance}} </p>
</div>


