<div class="modal-backdrop">
    <div class="modal-content">
        <h3>Add a new {{type}} to the board</h3>

        <form [formGroup]="form" (ngSubmit)="submitForm()">

          <!-- Character -->
          <div *ngIf="type === 'character'">
            <input formControlName="name" placeholder="Character's Name" required />
            <input formControlName="alias" placeholder="Alias/es if any (comma separated)" />
            <input formControlName="avatar_url" placeholder="Avatar URL" />
            <input formControlName="role" placeholder="Role" />
            <input formControlName="birthdate" type="date" placeholder="the birdthdate can be aproximated" />
            <textarea formControlName="personality_motivation" placeholder="Character's personality and motivations"></textarea>
            <textarea formControlName="biography_development" placeholder="Character's biography and development at the moment"></textarea>
            <textarea formControlName="appearance" placeholder="Appearance"></textarea>
          </div>

          <!-- Faction -->
          <div *ngIf="type === 'faction'">
            <input formControlName="name" placeholder="Faction's Name" required />
            <input formControlName="alt_names" placeholder="Alternative names for the faction (comma separated)" />
            <input formControlName="type" placeholder="Tipo" />
            <input formControlName="symbol_url" placeholder="URL from factions emblem/flag/logo/image" />
            <textarea formControlName="description_culture" placeholder="Faction's distinc culture, history, religion..."></textarea>
            <textarea formControlName="description_territory" placeholder="Faction's territory, political intricacies and relevant laws..."></textarea>
            <textarea formControlName="description_technology" placeholder="Faction's economical and technological system"></textarea>
            <textarea formControlName="motivation" placeholder="Main faction's motivations"></textarea>
            <input formControlName="leaders" placeholder="Faction relevant Leadrs (comma separated)" />
            <input formControlName="characters_associated" placeholder="Relevant characters associated with this faction" />
          </div>

          <!-- Event -->
          <div *ngIf="type === 'event'">
            <input formControlName="title" placeholder="Chapter/event title" required />
            <input formControlName="chapter" placeholder="Number of Chapter (if needed)" />
            <input formControlName="year" type="number" placeholder="Event's year" />
            <input formControlName="act" placeholder="Act (if needed)" />
            <textarea formControlName="description" placeholder="Brief description of the key_event"></textarea>
            <input type="checkbox" formControlName="key_event" /> is this a Key event?
          </div>

          <button type="submit">Add the new {{type}}</button>
          <button type="button" (click)="cancel()">Cancel</button>
        </form>

    </div>
</div>