<div class="main-board" #board>
    <h2>zona de interacción</h2>
    <!-- <p>Aquí apareceran las tarjetas de personajes mundos y eventos.</p> -->


<app-character-list
 [characters]="characters"
 (deleteCharacter)="handleDeleteCharacter($event)"
 (dragEnd)="onDragEnd($event)"></app-character-list>
  
<app-faction-list 
 [factions]="factions"
 (deleteFaction)="handleDeleteFaction($event)"
 (dragEnd)="onDragEnd($event)"></app-faction-list> <!--poma en dargEnded-->

<app-event-list
 [events]="events"
 (deleteEvent)="handleDeleteEvent($event)"
 (dragEnd)="onDragEnd($event)"></app-event-list>

<app-create-card-button (create)="openModal($event)"></app-create-card-button>


<app-card-form-modal
  *ngIf="showModal"
  [type]="modalType"
  (create)="handleCreate($event)"
  (closed)="closeModal()"
></app-card-form-modal>

</div>